<%= stylesheet_link_tag  'landing', media: 'all', 'data-turbolinks-track': 'reload' %>

	<div class="header-container-wrapper">
		<div class="header-container container-fluid">
			<div class="row-fluid-wrapper row-depth-1 row-number-1">
				<div class="row-fluid">
					<div class="span12 widget-span widget-type-raw_jinja" data-w="12" data-widget-type="raw_jinja" data-x="0" style=
					"">
						<div id="header">
							<div class="header-overlay"></div>
							<div class="impactbnd-container">
								<section id="typ-hero">
									<div class="row-fluid">
										<div class="span5"></div>
										<div class="span2"><img alt="Inbound Marketing Agency - IMPACT" class="logo" src=
										"https://i.imgur.com/q9cYdsT.png"></div>
									</div>
									<div class="row-fluid conversion-container">
										<div class="span12 conversion-head">
											<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header"
											data-hs-cos-general-type="widget" data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header"
											style=""></span>
											<div class="page-header section-header">
												<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header"
												data-hs-cos-general-type="widget" data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header"
												style=""></span>
												<h1><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header"
												data-hs-cos-general-type="widget" data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header"
												style="">VelezDa Marketing & Web development that fits your needs</span></h1>
												<p class="secondary-header"><span class=
												"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_section_header" data-hs-cos-general-type="widget"
												data-hs-cos-type="section_header" id="hs_cos_wrapper_Conversion_Header" style=""><span class=
												"section-subheader" id="hs_cos_wrapper_subheader"></span></span></p>
												<h1 class="conversion-sub-header">Hey there! Thanks for reaching out. We will contact you shortly, we are exited to help you out.</h1>
											</div>
										</div>
										<div class="span12 image-head">
											<section id="conversion-buttons">
												<a href=
												"mailto:Name@Email.com?Subject=Check%20out%20VeleZDa,%20marketing%20and%20web%20development&amp;Body=I%27m%20in%20the%20middle%20of%20taking%20my%20business%20to%20the%20next%20level%20find%20out%20if%20they%20can%20do%20the%20same%20for%20you.%20http%3A//www.velezda.com/landings/new"
												target="_blank"><span class="email-button"><span class="glyphicon glyphicon-envelope"></span> Email to a
												friend</span></a>
												<ul class="conversion-sharing">
													<li class="conversion-icon">
														<a data-mce-target="_blank" href=
														"https://www.facebook.com/sharer/sharer.php?u=http://www.velezda.com/landings/new"
														target="_blank"><img alt="Inbound Marketing Share on Facebook" src=
														"https://offers.impactbnd.com/hs-fs/hub/145335/file-1941221103-png/Impact_Conversion_Collection/All/facebook.png?t=1508530096234"></a>
													</li>
													<li class="conversion-icon">
														<a data-mce-target="_blank" href=
														"https://twitter.com/home?status=http://www.velezda.com/landings/new" target=
														"_blank"><img alt="Inbound Marketing Share on Twitter" src=
														"https://offers.impactbnd.com/hs-fs/hub/145335/file-1944250177-png/Impact_Conversion_Collection/All/twitter.png?t=1508530096234"></a>
													</li>
													<li class="conversion-icon">
														<a data-mce-target="_blank" href=
														"https://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.velezda.com/landings/new&amp;title=Facebook%20marketing%20and%20web%20development%20"
														target="_blank"><img alt="Inbound Marketing Share on Linkedin" src=
														"https://offers.impactbnd.com/hs-fs/hub/145335/file-1944732531-png/Impact_Conversion_Collection/All/linkedin.png?t=1508530096234"></a>
													</li>
												</ul>
											</section>
										</div>
									</div>
								</section>
							</div>
						</div><!--end widget-span -->
					</div><!--end row-->
				</div><!--end row-wrapper -->
			</div><!--end header -->
		</div><!--end header wrapper -->
		<div class="body-container-wrapper">
			<div class="body-container container-fluid">
				<div class="row-fluid-wrapper row-depth-1 row-number-1">
					<div class="row-fluid">
						<div class="impactbnd-container">
							<section id="conversion-description">
								<div class="span12 widget-span widget-type-cell" data-w="12" data-widget-type="cell" data-x="0" style="">
									<div class="row-fluid-wrapper row-depth-1 row-number-2">
										<div class="row-fluid">
											<div class="span12 widget-span widget-type-rich_text" data-w="12" data-widget-type="rich_text" data-x="0"
											style="">
												<div class="cell-wrapper layout-widget-wrapper">
													<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type=
													"widget" data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_14694739772272759" style=""></span>
													<!-- <h2 class="conversion-title"><span class=
													"hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type="widget"
													data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_14694739772272759" style="">Want to learn more
													about how IMPACT can help attract and convert more customers on your website? Talk to us.</span></h2> -->
												</div><!--end layout-widget-wrapper -->
											</div><!--end widget-span -->
										</div><!--end row-->
									</div><!--end row-wrapper -->
									<div class="row-fluid-wrapper row-depth-1 row-number-3">
										<div class="row-fluid">
											<div class="span6 widget-span widget-type-rich_text" data-w="6" data-widget-type="rich_text" data-x="0"
											style="">
												<div class="cell-wrapper layout-widget-wrapper">
													<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" data-hs-cos-general-type=
													"widget" data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_149557031196174" style=""></span>
													<p><span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text"
													data-hs-cos-general-type="widget" data-hs-cos-type="rich_text" id="hs_cos_wrapper_module_149557031196174"
													style=""><span>Managing all of your online marketing can be pretty overwhelming. From attracting website
													visitors, publishing content, and making your website look beutiful.
													work.</span></span></p>
													<p><span>We’ll help you figure it all out.</span></p>
													<p><span>Our consultants help people just like you build well-rounded campaigns and even course correct
													their current efforts.</span></p>
													<p><span>It only takes 20 minutes to change the course of your business.</span></p>
												</div><!--end layout-widget-wrapper -->
											</div><!--end widget-span -->
											<script>
											$('#conversion-description .row-fluid-wrapper.row-number-3 .widget-type-rich_text').removeClass('span6');
											$('#conversion-description .row-fluid-wrapper.row-number-3 .widget-type-rich_text').addClass('span12');
											</script>
										</div><!--end row-->
									</div><!--end row-wrapper -->
								</div><!--end widget-span -->
							</section>
						</div>
					</div><!--end row-->
				</div><!--end row-wrapper -->
			</div><!--end body -->
		</div><!--end body wrapper -->
		<div class="footer-container-wrapper">
			<div class="footer-container container-fluid">
				<div class="row-fluid-wrapper row-depth-1 row-number-1">
					<div class="row-fluid">
						<div class="span12 widget-span widget-type-raw_html" data-w="12" data-widget-type="raw_html" data-x="0" style="">
							<div class="cell-wrapper layout-widget-wrapper">
								<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type=
								"widget" data-hs-cos-type="raw_html" id="hs_cos_wrapper_module_14132062052911912" style=""></span>
								<div class="row-fluid footer">
									<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type=
									"widget" data-hs-cos-type="raw_html" id="hs_cos_wrapper_module_14132062052911912" style=""></span>
									<div class="span12 centered">
										<span class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_raw_html" data-hs-cos-general-type=
										"widget" data-hs-cos-type="raw_html" id="hs_cos_wrapper_module_14132062052911912" style=""><span class=
										"copyright">© 2017 VelezDa Marketing &amp; Web development</span></span>
									</div>
								</div>

							</div><!--end layout-widget-wrapper -->
						</div><!--end widget-span -->
					</div><!--end row-->
				</div><!--end row-wrapper -->
			</div><!--end footer -->
		</div><!--end footer wrapper -->




	</div>
