<%=provide(:contact_active, 'active')%>
<div id="page-content-wrapper" class="header">
    <div class="container-fluid">
        <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>

        <!-- map -->
        <div id="map" class="big"></div>
        <!-- / map -->

        <!-- contact info 2col -->
        <div class="contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="../images/logo2.png" alt="">
                        <p> Words to keep in mind! </p>
                        <ul>
                          <li>
                              <p><strong>Programmer</strong> A person that fixes a problem you dont know you have, in a way you dont understand.</p>
                              <p>
                          </li>
                          <li>
                              <p><strong>Algorithm</strong> Word used by programmers when.. they dont want to explain what they did.</p>
                              <p>
                          </li>
                          <li>
                              <p><strong>Hardware</strong> The part of the computer that you kick.</p>
                              <p>
                          </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 contacts">
                        <div class="info">
                        <p class="contact-info-title">Address</p>
                        <span class="contact-info-text">210 Fletcher St, Lowell, MA.</span>
                        </div>
                        <div class="info last">
                        <p class="contact-info-title">Email</p>
                        <a href="velez.a.daniel@me.com"  class="contact-info-text">velez.a.daniel@me.com</a>
                        </div>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / contact info 2col -->
          <%= render partial: 'partials/contact_me' %>
        <!-- / contact -->

    </div>
</div><!-- / page-content-wrapper -->
<script>
  function initMap() {
    var location = {lat: 42.640999, lng: -71.316711};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 12,
      center: location
    });
    var marker = new google.maps.Marker({
        position: location,
        map: map,

    });

    var contentString = '<div class="info-window">' +
            '<h3>Mi Casa</h3>' +
            '<div class="info-content">' +
            '<p>Su casa</p>' +
            '</div>' +
            '</div>';

    var infowindow = new google.maps.InfoWindow({
        content: contentString,
        maxWidth: 400
    });
    marker.addListener('click', function () {
        infowindow.open(map, marker);
    });

    var styles = [{"featureType": "landscape", "stylers": [{"saturation": -100}, {"lightness": 65}, {"visibility": "on"}]}, {"featureType": "poi", "stylers": [{"saturation": -100}, {"lightness": 51}, {"visibility": "simplified"}]}, {"featureType": "road.highway", "stylers": [{"saturation": -100}, {"visibility": "simplified"}]}, {"featureType": "road.arterial", "stylers": [{"saturation": -100}, {"lightness": 30}, {"visibility": "on"}]}, {"featureType": "road.local", "stylers": [{"saturation": -100}, {"lightness": 40}, {"visibility": "on"}]}, {"featureType": "transit", "stylers": [{"saturation": -100}, {"visibility": "simplified"}]}, {"featureType": "administrative.province", "stylers": [{"visibility": "off"}]}, {"featureType": "water", "elementType": "labels", "stylers": [{"visibility": "on"}, {"lightness": -25}, {"saturation": -100}]}, {"featureType": "water", "elementType": "geometry", "stylers": [{"hue": "#ffff00"}, {"lightness": -25}, {"saturation": -97}]}];

    map.set('styles', styles);

  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDU1cqueUXNgFXDlCfJJPnskxlIimkR49M&callback=initMap">
</script>
