<div id="page-content-wrapper" class="header">
    <div class="container-fluid">
        <!-- header -->
        <div id="top" data-toggle="top"></div>
        <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
        <div class="parallax-header">
            <div class="header-content">
                <h3 class="animated fadeInDown">PHORTO</h3>
                <div class="separator-line animated fadeInRight"> </div>
                <h5 class="animated fadeIn">The best Photography / Portfolio Theme</h5>
                <a href="#feature" class="btn btn-md btn-primary animated fadeInUp page-scroll">Learn More</a>
            </div>
        </div>
        <!-- / header -->

        <!-- features section 3col -->
        <div id="feature" data-section="feature">
            <div class="container">
                <div class="row">
                    <div class="feature col-sm-4">
                        <div class="feature-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                        <h5 class="feature-title">RESPONSIVE</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
                    </div>
                    <div class="feature col-sm-4">
                        <div class="feature-icon">
                            <i class="lnr lnr-eye"></i>
                        </div>
                        <h5 class="feature-title">RETINA READY</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
                    </div>
                    <div class="feature col-sm-4">
                        <div class="feature-icon">
                            <i class="lnr lnr-pencil"></i>
                        </div>
                        <h5 class="feature-title">EASY TO EDIT</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
                    </div>
                    <div class="feature col-sm-4">
                        <div class="feature-icon">
                            <i class="lnr lnr-diamond"></i>
                        </div>
                        <h5 class="feature-title">BEATIFUL DESIGN</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
                    </div>
                    <div class="feature col-sm-4">
                        <div class="feature-icon">
                            <i class="lnr lnr-book"></i>
                        </div>
                        <h5 class="feature-title">WELL DOCUMENTED</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
                    </div>
                    <div class="feature col-sm-4">
                        <div class="feature-icon">
                            <i class="lnr lnr-envelope"></i>
                        </div>
                        <h5 class="feature-title">24/7 SUPPORT</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate, orci justo sodales</p>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / features section 3col -->

        <!-- about section text left -->
        <div id="about" data-section="about">
            <div class="container">
                <div class="row">
                    <div class="skills col-sm-12">
                        <div class="row">
                        <div class="company-info col-sm-12 col-md-6">
                            <h5 class="about-company-title">About Creative</h5>
                            <p>Morbi ipsum metus, interdum sit amet tortor non, semper eleifend justo. Suspendisse turpis elit, ultricies sed malesuada at, commodo elementum neque. Quisque aliquet erat id efficitur fringilla. In fermentum nunc ac quam consequat vulputate. Donec tempor, sem sed euismod sollicitudin, felis metus accumsan nunc, et placerat turpis nunc quis lorem.</p>
                            <p>Sed consectetur, nisl vitae lacinia accumsan, enim erat luctus est, vitae condimentum ipsum elit sit amet arcu. Ut consequat imperdiet iaculis. Nunc pulvinar luctus elit, sed elementum lorem tempor congue. Morbi feugiat dolor sed sem pulvinar commodo. Nullam id sodales massa.</p>
                            <p>Proin feugiat sem ut diam volutpat semper. Aliquam eleifend non ligula a accumsan.</p>
                        </div>
                        <div class="skills-bars col-sm-12 col-md-6">
                            <h5 class="about-company-title">Skills</h5>
                            <div class="progress-title">
                                <h6>Digital Photography</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success animated fadeInLeft" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                    <span class="sr-only">95%</span>
                                </div>
                             </div>
                             <div class="progress-title">
                                <h6>Landscape Photography</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary second animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                    <span class="sr-only">90%</span>
                                </div>
                             </div>
                             <div class="progress-title">
                                <h6>Wedding Photography</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger third animated fadeInLeft" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                    <span class="sr-only">85%</span>
                                </div>
                             </div>
                             <div class="progress-title">
                                <h6>Photo Editing</h6>
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-warning fourth animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                    <span class="sr-only">80%</span>
                                </div>
                             </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / about section text left -->

        <!-- work 3col full -->
        <div id="work" class="full-width" data-section="work">
            <div class="container">
                <!-- projects -->
                <ul class="row portfolio-items list-unstyled" id="grid">
                    <li class="col-xs-6 col-md-4" data-groups='["branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-1.jpg" alt="">
                                <a href="pages/single-image-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 1</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </figure>
                    </li>
                    <li class="col-xs-6 col-md-4" data-groups='["branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-2.jpg" alt="">
                                <a href="pages/single-image-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 2</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </figure>
                    </li>
                    <li class="col-xs-6 col-md-4" data-groups='["photography"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-3.jpg" alt="">
                                <a href="pages/single-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 3</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                         </figure>
                    </li>
                    <li class="col-xs-6 col-md-4" data-groups='["photography"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-3.jpg" alt="">
                                <a href="pages/single-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 4</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </figure>
                    </li>
                    <li class="col-xs-6 col-md-4" data-groups='["creative", "branding"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-1.jpg" alt="">
                                <a href="pages/single-image-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 5</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </figure>
                     </li>
                     <li class="col-xs-6 col-md-4" data-groups='["creative"]'>
                         <figure class="portfolio-item">
                             <div class="hovereffect">
                                <img class="img-responsive" src="images/project-2.jpg" alt="">
                                <a href="pages/single-image-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 6</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                            </figure>
                     </li>
                     <li class="col-xs-6 col-md-4" data-groups='["photography"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-1.jpg" alt="">
                                <a href="pages/single-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 7</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </figure>
                     </li>
                     <li class="col-xs-6 col-md-4" data-groups='["photography"]'>
                        <figure class="portfolio-item">
                            <div class="hovereffect">
                                <img class="img-responsive" src="images/project-2.jpg" alt="">
                                <a href="pages/single-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 8</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                        </figure>
                     </li>
                     <li class="col-xs-6 col-md-4" data-groups='["web-design"]'>
                         <figure class="portfolio-item">
                             <div class="hovereffect">
                                <img class="img-responsive" src="images/project-3.jpg" alt="">
                                <a href="pages/single-image-project.html">
                                    <div class="overlay">
                                        <div class="hovereffect-title">
                                            <h2>Project 9</h2>
                                        </div>
                                    </div>
                                </a>
                                </div>
                          </figure>
                     </li>
                <!-- sizer -->
                <li class="col-xs-6 col-md-4 shuffle_sizer"></li>
                </ul> <!-- / projects -->
            </div><!-- / container -->
        </div><!-- / work 3col full -->

        <!-- call to action -->
        <div id="call-to-action" data-section="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <p class="cta-content"><span class="cta-text">DO YOU LIKE OUR WORK?<a href="#contact" class="btn btn-primary sm cta-right page-scroll">CONTACT US</a></span></p>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / call to action -->

        <!-- pricing section 3col -->
        <div id="pricing" data-section="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="pricing-title">Single License</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">15</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Single Site License</li>
                                    <li>Lifetime Updates</li>
                                    <li>Sass Files Included</li>
                                    <li>Extensive Documentation</li>
                                    <li>24/5 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <a href="#" class="btn btn-primary md">BUY NOW</a>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="featured pricing-title">Multiple License</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">50</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Multiple Site License</li>
                                    <li>Lifetime Updates</li>
                                    <li>Sass Files Included</li>
                                    <li>Extensive Documentation</li>
                                    <li>24/7 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <a href="#" class="btn btn-primary md">BUY NOW</a>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="pricing-title">Extended License</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">750</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Extended Site License</li>
                                    <li>Lifetime Updates</li>
                                    <li>Sass Files Included</li>
                                    <li>Extensive Documentation</li>
                                    <li>24/7 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <a href="#" class="btn btn-primary md">BUY NOW</a>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / pricing section 3col -->

        <!-- facts 3col -->
        <div id="facts" data-section="facts">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <i class="facts-icon lnr lnr-pencil"></i>
                        <p class="timer" id="websites" data-to="45" data-speed="1000">fact</p>
                        <h5 class="facts-title">Websites Designed</h5>
                    </div>
                    <div class="col-sm-4">
                        <i class="facts-icon lnr lnr-code"></i>
                        <p class="timer" id="code" data-to="78" data-speed="2000">fact</p>
                        <h5 class="facts-title">Lines of Code</h5>
                    </div>
                    <div class="col-sm-4">
                        <i class="facts-icon lnr lnr-coffee-cup"></i>
                        <p class="timer" id="coffee" data-to="93" data-speed="3000">fact</p>
                        <h5 class="facts-title">Cups of Coffee</h5>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / facts 3col -->

        <!-- map -->
        <div id="map"></div>
        <!-- / map -->

        <!-- contact -->
        <div id="contact" data-section="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form id="contactForm" data-toggle="validator">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" placeholder="FULL NAME" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="EMAIL" required>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="SUBJECT">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                    <textarea id="message" class="form-control" rows="5" placeholder="MESSAGE" required></textarea>
                                    <div class="help-block with-errors"></div>
                                    </div>
                                    <button type="submit" id="form-submit" class="btn btn-primary btn-md btn-form-submit">Submit</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / contact -->

        <!-- scroll to top -->
        <a href="#top" class="scroll-to-top page-scroll"><i class="fa fa-angle-up"></i></a>
        <!-- / scroll to top -->

    </div>
</div>
