<div id="page-content-wrapper" class="header">
    <div class="container-fluid">
        <!-- header -->
        <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
        <div class="services-header">
            <div class="header-content">
                <h3 class="animated fadeInDown">PRICING FOR WEB DEVELOPMENT SERVICES</h3>
                <div class="separator-line animated fadeInUp"> </div>
            </div>
        </div>
        <!-- / header -->

        <!-- services section 3col -->
      <!-- / services section 3col -->

        <!-- pricing section 3col -->
        <div id="pricing" data-section="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="pricing-title">PRE-MADE TEMPLATES DESIGNS</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">50-300</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>1 to 3 pages</li>
                                    <li>Simple routing</li>
                                    <li>Simple updates</li>
                                    <li>30 days of revision after delivery</li>
                                    <li>24/5 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <%= link_to "Contact me!", home_contact_path, class: 'btn btn-primary md'%>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="featured pricing-title">CUSTOM BUILT WEBSITE USING PRE-MADE TEMPLATES</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">300-3,000</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Customize a pre-made template into something unique just for you</li>
                                    <li>4 to 10 pages</li>
                                    <li>Login integration</li>
                                    <li>30 days of revision after delivery</li>
                                    <li>24/5 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <%= link_to "Contact me!", home_contact_path, class: 'btn btn-primary md'%>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="pricing-title">CUSTOM WEBSITE DESIGN</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">3,000-15,000</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Custom website design where you can create any design you can imagine</li>
                                    <li>10 to 30 pages</li>
                                    <li>Login, email response, payment gayway and multiple APIs integrations</li>
                                    <li>90 days of revision</li>
                                    <li>24/7 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <%= link_to "Contact me!", home_contact_path, class: 'btn btn-primary md'%>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / pricing section 3col -->

    </div>
</div><!-- / page-content-wrapper -->
<!-- / content -->
