<div id="page-content-wrapper" class="header">
    <div class="container-fluid">
        <!-- header -->
        <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
        <div class="services-header">
            <div class="header-content">
                <h3 class="animated fadeInDown">SERVICES</h3>
                <div class="separator-line animated fadeInUp"> </div>
            </div>
        </div>
        <!-- / header -->

        <!-- services section 3col -->
        <div id="service" data-section="feature">
            <div class="container">
                <div class="row">
                    <div class="service col-sm-4">
                        <div class="service-icon">
                            <i class="lnr lnr-laptop-phone"></i>
                        </div>
                        <h5 class="service-title">WEB DESIGN</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate.</p>
                    </div>
                    <div class="service col-sm-4">
                        <div class="service-icon">
                            <i class="lnr lnr-pencil"></i>
                        </div>
                        <h5 class="service-title">GRAPHIC DESIGN</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate.</p>
                    </div>
                    <div class="service col-sm-4">
                        <div class="service-icon">
                            <i class="lnr lnr-diamond"></i>
                        </div>
                        <h5 class="service-title">UI DESIGN</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate.</p>
                    </div>
                <div class="service col-sm-4">
                        <div class="service-icon">
                            <i class="lnr lnr-camera"></i>
                        </div>
                        <h5 class="service-title">PHOTOGRAPHY</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate.</p>
                    </div>
                    <div class="service col-sm-4">
                        <div class="service-icon">
                            <i class="lnr lnr-printer"></i>
                        </div>
                        <h5 class="service-title">PRINT</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate.</p>
                    </div>
                    <div class="service col-sm-4">
                        <div class="service-icon">
                            <i class="lnr lnr-rocket"></i>
                        </div>
                        <h5 class="service-title">BRANDING</h5>
                        <p>Aenean vel egestas augue, faucibus egestas tortor. Praesent tempor, urna eu imperdiet vulputate.</p>
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / services section 3col -->

        <!-- pricing section 3col -->
        <div id="pricing" data-section="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="pricing-title">Single License</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">15</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Single Site License</li>
                                    <li>Lifetime Updates</li>
                                    <li>Sass Files Included</li>
                                    <li>Extensive Documentation</li>
                                    <li>24/5 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <a href="#" class="btn btn-primary md">BUY NOW</a>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="featured pricing-title">Multiple License</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">50</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Multiple Site License</li>
                                    <li>Lifetime Updates</li>
                                    <li>Sass Files Included</li>
                                    <li>Extensive Documentation</li>
                                    <li>24/7 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <a href="#" class="btn btn-primary md">BUY NOW</a>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                    <div class="col-md-4">
                        <div class="pricing-table">
                            <div class="pricing-table-title">
                                <h5 class="pricing-title">Extended License</h5>
                            </div>
                            <div class="pricing-table-price">
                                <p>
                                    <span class="pricing-currency">$</span>
                                    <span class="pricing-price">750</span>
                                </p>
                                <p>
                                    <span class="pricing-period">one-time fee</span>
                                </p>
                            </div>
                            <div class="pricing-table-content">
                                <ul>
                                    <li>Extended Site License</li>
                                    <li>Lifetime Updates</li>
                                    <li>Sass Files Included</li>
                                    <li>Extensive Documentation</li>
                                    <li>24/7 Support</li>
                                </ul>
                                <div class="pricing-table-button">
                                    <a href="#" class="btn btn-primary md">BUY NOW</a>
                                </div>
                            </div>
                        </div><!-- / pricing-table -->
                    </div>
                </div>
            </div><!-- / container -->
        </div><!-- / pricing section 3col -->

    </div>
</div><!-- / page-content-wrapper -->
<!-- / content -->
